body{
    background-color: black;
    padding: 0;
    margin: 0
}
/* navbar */
.navbar{
    height: 60px;
    width: 100vw;
    background: transparent;
    border-top: 2px solid rgb(2, 160, 2);
    border-bottom: 2px solid rgb(2, 160, 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height: 300px;
    width: 300px;
    margin-top: 38px;
    margin-left: -115px;
    cursor: pointer;
}
.navbar a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    cursor: pointer;
}
.searchbar{
    height: 25px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(2, 160, 2);
    border-radius: 20px;
    align-items: center;
    border: 2px solid rgb(253, 252, 252);
}
.searchbar:hover input {
    width: 300px;
}.searchbar input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
    .fa-solid {
      font-size: 24px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: 0.3s;
    }
    .login{
        background-color: rgb(2, 160, 2);
        color: white;
        height: 40px;
        width: 120px;
        border-radius: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    }
    .navbar a:hover {
  text-shadow: 2px 5px 10px white;
}
.navbar a:active {
    color : rgb(2, 160, 2)
}
.login:hover {
    box-shadow: 2px 2px 5px rgb(2, 160, 2);
}
.login:active {
    color: rgb(2, 160, 2);
    background-color: white;
}
 .signup{
        background-color: rgb(2, 160, 2);
        color: white;
        height: 40px;
        width: 120px;
        border-radius: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    }
    .signup:hover {
    box-shadow: 2px 2px 5px rgb(2, 160, 2);
}
   .signup:active {
    color: rgb(2, 160, 2);
    background-color: white;
}
/* Section */
section{
    width: 100%;
    display: flex;
}
.left{
    flex-basis: 50%;
    background-color: black;
    border: 2px solid rgb(2, 160, 2);
    height: 100vh;
    border-top: 0px;
    display: flex;
    justify-content: center;
    transition: 0.4s ease-in-out;
}
.right{
    flex-basis: 50%;
    background-image: url(background.jpg);
    border: 2px solid black;
    height: 100vh;
    background-size: cover;
    border-top: 0px;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
}
.left h1{
    color: rgb(2, 160, 2);
    margin-top: 15px;
    font-size: 60px;
    text-align: center;
}
h1 .text01{
    color: white;
}
    .shadow-ring {
        position: absolute;
        margin-top: 280px;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        z-index: -1;
        background: conic-gradient(
            rgb(97, 250, 83),
            rgb(3, 235, 73),
            rgb(17, 122, 3),
            rgb(72, 255, 0)
        );
        animation: rotate 3s linear infinite;
        filter: blur(25px);
        z-index: 1;
    }

    @keyframes rotate {
        from { transform: rotate(0deg); }
        to   { transform: rotate(360deg); }
    }
.img{
    height: 500px;
    width: 500px;
    background-image: url(hacker.jpg);
    position: absolute;
    border: 5px solid rgb(2, 160, 2);
    background-size: cover;
    border-radius: 50%;
    margin-top: 300px;
    z-index: 2;
}
.right h1{
    color: rgb(2, 160, 2);
    margin-top: 15px;
    font-size: 60px;
    text-align: center;
}
/* Button01 */
.button01{
    position: absolute;
    background-color: rgb(2, 160, 2);
    color: white;
    height: 80px;
    width: 240px;
    font-size: 20px;
    align-self: center;
    margin-right: 350px;
    border: none;
    outline: none;
    z-index: 0;
    border-radius: 12px;
}

.button01::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 206, 13);
    left: 0;
    right: 0;
    border-radius: 12px;
    margin-top: -29px;
    cursor: pointer;
}
.button01::before{
    content: "";
    background: linear-gradient(
        45deg, #d10606 ,#fffb00, #ff5e00, #001aff, #00fff2, #da07ac, #d10606
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600px;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.button01:hover::before{
    opacity: 1;
}
.button01:active::after{
    background: transparent;
}
.button01:active{
    color: #000;
    font-weight: bold;
}
/* Button02 */
.button02{
    position: absolute;
    background-color: rgb(236, 235, 235);
    color: rgb(2, 160, 2);
    height: 80px;
    width: 240px;
    font-size: 20px;
    align-self: center;
    margin-left: 350px;
    border: none;
    outline: none;
    z-index: 0;
    border-radius: 12px;
}

.button02::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 233, 228);
    left: 0;
    right: 0;
    border-radius: 12px;
    margin-top: -29px;
    cursor: pointer;
}
.button02::before{
    content: "";
    background: linear-gradient(
        45deg, #d10606 ,#fffb00, #ff5e00, #001aff, #00fff2, #da07ac, #d10606
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600px;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
.button02:hover::before{
    opacity: 1;
}
.button02:active::after{
    background: transparent;
}
.button02:active{
    color: #000;
    font-weight: bold;
}
/* Transition */
.left:hover{
    flex-basis: 80%;
}
.right:hover{
    flex-basis: 80%;
}







































